%colourShades {
  --bg-body: var(--color950);
  --fg-body: var(--color100);

  --bg-body-light: var(--color100);
  --fg-body-light: var(--color800);

  &.light-theme,
  :root.light-theme & {
    --l-base: var(--l-base-light);
    --c-base: var(--c-base-light);
    --bg-body: var(--bg-body-light);
    --fg-body: var(--fg-body-light);
  }

  --color100: oklch(0.91 0.05 var(--hue));

  --color500: oklch(
    calc(var(--l-base) + 0.15) calc(var(--c-base) + 0.06) var(--hue)
  );
  --color600: oklch(
    calc(var(--l-base) + 0.1) calc(var(--c-base) + 0.04) var(--hue)
  );
  --color700: oklch(
    calc(var(--l-base) + 0.05) calc(var(--c-base) + 0.02) var(--hue)
  );
  --color800: oklch(var(--l-base) var(--c-base) var(--hue));

  --color950: oklch(0.18 0.03 var(--hue));

  --panel-background: oklch(var(--500) / 0.1);
}
