@mixin button {
  overflow: hidden;
  outline: none;
  color: var(--fg);
  font-family: inherit;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;

  &:disabled {
    opacity: 0.4;
    filter: saturate(0.6);
    cursor: default;
    pointer-events: none;
  }
}

.button {
  @include button;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--light-alpha40);
  background-color: transparent;
  min-height: min-content;
  min-width: 8rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;

  &.small {
    min-width: 0;
    padding: 0.8rem;
  }
  &.fill {
    background-color: var(--default);
  }
  &:focus {
    border: 1px solid var(--light-alpha70);
  }
  &:hover {
    // stays after click on touch devices
    // TODO: only for non-touch devices
    // /*background-color: var(--light-alpha40);*/
  }
  &:active {
    background-color: var(--light);
    border: 1px solid var(--default-alpha40);
  }
}
