@mixin command {
  @include button;
  min-width: 6rem;
  display: grid;
  align-items: end;
  justify-items: end;
  text-align: end;
  font-size: 1.1rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 0 var(--border-width);
  padding: 0.2rem 0.4rem 0.2rem 1rem;

  &.flash {
    animation: flash 1s ease-in-out infinite;
  }

  &:focus {
    border-color: var(--light-alpha70);
  }

  &:active {
    background-color: var(--light-alpha70);
    animation-play-state: paused;
  }
}

.commands {
  position: relative;
  display: grid;
  gap: var(--gap);

  &:before,
  &:after {
    box-shadow: var(--box-shadow);
    position: absolute;
    content: "";
    background: var(--default-alpha70);
  }

  &:not(.vertical) {
    grid-auto-flow: column;
    padding-left: calc(1rem + var(--gap));
    padding-right: calc(1rem + var(--gap));

    &:before,
    &:after {
      width: 1rem;
      top: 0;
      bottom: 0;
    }

    &:before {
      border-radius: 0.3rem 0 0 0.3rem;
      left: 0;
    }
    &:after {
      border-radius: 0 0.3rem 0.3rem 0;
      right: 0;
    }

    > button,
    > div {
      height: 3.6rem;
    }
  }

  &.vertical {
    grid-auto-flow: row;
    min-width: 12rem;
    padding-top: calc(1rem + var(--gap));
    padding-bottom: calc(1rem + var(--gap));

    &:before,
    &:after {
      height: 1rem;
      left: 0;
      right: 0;
    }

    &:before {
      border-radius: 0.3rem 0.3rem 0 0;
      top: 0;
    }
    &:after {
      border-radius: 0 0 0.3rem 0.3rem;
      bottom: 0;
    }

    > button,
    > div {
      min-height: 3.6rem;
    }

    // attempt for mobile view
    //@media screen and (max-width: 768px) {
    //min-width: 2rem;
    //width: 3.6rem;
    //> button,
    //> div {
    //min-width: auto;
    //color: transparent;
    //}
    //}
  }

  > button,
  > div {
    box-sizing: border-box;
    background-color: var(--default-alpha70);
    box-shadow: var(--box-shadow);
  }

  > button {
    @include command;
  }

  > div {
    min-width: 0.5rem;
  }
}

//Old, has been moved to _command.scss
//@keyframes flash {
//50% {
//background-color: var(--light-alpha70);
//}
//}
