@mixin command {
  @include button;
  min-width: 6rem;
  display: grid;
  align-items: end;
  justify-items: end;
  text-align: end;
  font-size: 1.1rem;
  border-style: solid;
  border-color: transparent;
  border-width: 0 0 0 var(--border-width);
  padding: 0.2rem 0.4rem 0.2rem 1rem;

  &.flash {
    animation: flash 1s ease-in-out infinite;
  }

  &:focus {
    border-color: var(--light-alpha70);
  }

  &:active {
    background-color: var(--light-alpha70);
    animation-play-state: paused;
  }
}

.commands {
  position: relative;
  display: grid;
  gap: 0.5rem;

  &:before,
  &:after {
    box-shadow: var(--box-shadow);
    position: absolute;
    content: "";
    background: var(--default-alpha70);
  }

  &:not(.vertical) {
    //@extend %h2; --> use font-size token
    font-size: 2rem;

    grid-auto-flow: column;
    text-align: center;
    align-items: center;
    line-height: 3.6rem;
    height: 3.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    &:before,
    &:after {
      width: 1rem;
      top: 0;
      bottom: 0;
    }

    &:before {
      border-radius: 0.3rem 0 0 0.3rem;
      left: 0;
    }
    &:after {
      border-radius: 0 0.3rem 0.3rem 0;
      right: 0;
    }

    > button,
    > div {
      height: 3.6rem;
    }
  }

  &.vertical {
    grid-auto-flow: row;
    min-width: 12rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &:before,
    &:after {
      height: 1rem;
      left: 0;
      right: 0;
    }

    &:before {
      border-radius: 0.3rem 0.3rem 0 0;
      top: 0;
    }
    &:after {
      border-radius: 0 0 0.3rem 0.3rem;
      bottom: 0;
    }

    > button,
    > div {
      min-height: 3.6rem;
    }
  }

  > button,
  > div {
    box-sizing: border-box;
    background-color: var(--default-alpha70);
    box-shadow: var(--box-shadow);
  }

  > button {
    @include command;
  }

  > div {
    min-width: 0.5rem;
  }
}

@keyframes flash {
  50% {
    background-color: var(--light-alpha70);
  }
}
