@mixin corner($location, $style: "default") {
  --border-width: 2px;

  content: "";
  border-style: solid;
  border-color: var(--default);
  position: absolute;
  height: 1rem;
  width: 1rem;
  z-index: 2;

  @if $style == "light" {
    --border-width: 1px;

    border-color: var(--light-alpha40);
    height: 0.75rem;
    width: 0.75rem;
  }

  @if $location == "top-left" {
    border-width: var(--border-width) 0 0 var(--border-width);
    border-radius: 0.3rem 0 0 0;
    left: 0;
    top: 0;
  }

  @if $location == "top-right" {
    border-width: var(--border-width) var(--border-width) 0 0;
    border-radius: 0 0.3rem 0 0;
    right: 0;
    top: 0;
  }

  @if $location == "bottom-left" {
    border-width: 0 0 var(--border-width) var(--border-width);
    border-radius: 0 0 0 0.3rem;
    left: 0;
    bottom: 0;
  }

  @if $location == "bottom-right" {
    border-width: 0 var(--border-width) var(--border-width) 0;
    border-radius: 0 0 0.3rem 0;
    right: 0;
    bottom: 0;
  }
}
