@function scalable($value) {
  @return calc(#{$value} * var(--scale, 1));
}

:root {
  --font-family: "Open Sans", sans-serif;
  --font-size: 16px;

  --spacing-xs: 2px;
  --spacing-sm: 6px;
  --spacing: 10px;
  --spacing-lg: 14px;

  --border-width-sm: 1px;
  --border-width: 2px;

  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

  @extend .scaled;

  @media screen and (min-width: 640px) {
    --font-size: 14px;
  }

  &.light-theme {
    --box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);
  }
}

.scaled {
  --text-xs: #{scalable(0.75rem)};
  --text-sm: #{scalable(0.85rem)};
  --text-base: #{scalable(1rem)};
  --text-lg: #{scalable(1.2rem)};
  --text-xl: #{scalable(1.4rem)};
  --text-2xl: #{scalable(1.6rem)};
  --text-3xl: #{scalable(1.8rem)};

  --padding-xs: #{scalable(0.15rem)};
  --padding-sm: #{scalable(0.4rem)};
  --padding: #{scalable(0.75rem)};
  --padding-lg: #{scalable(1rem)};

  --border-radius: #{scalable(0.3rem)};

  --command-min-size: #{scalable(3rem)};
  --compound-spacer-min-size: #{scalable(1rem)};

  --corner-size: #{scalable(1rem)};
  --corner-small-size: #{scalable(0.75rem)};
}

%scrollbar {
  &::-webkit-scrollbar {
    width: var(--spacing-sm);
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    min-width: 1rem;
    border-style: solid;
    border-color: transparent;
    border-width: var(--spacing-sm);
    background: var(--color700);
    box-sizing: border-box;
    background-clip: border-box;
  }
}

html {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: var(--font-size);
}

body {
  font-size: var(--text-base);
  padding: var(--padding);
  background: var(--bg-body);
  color: var(--fg-body);
  transition: background-color 0.15s ease-in-out;

  @extend %scrollbar;
}
