:root {
  --font-family: "Open Sans", sans-serif;
  --font-size: 16px;
  --box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  --gap-sm: 4px;
  --gap: 6px;
  --spacing: 0.8rem;
  --border-width-sm: 0.08rem;
  --border-width: 0.15rem;
  --focus-border-width: 0.15rem;

  @media screen and (min-width: 768px) {
    --font-size: 14px;
  }
}

html {
  font-family: var(--font-family);
  font-weight: 400;
}

html,
body {
  font-size: var(--font-size);
  height: 100%;
  min-height: 100%;
}

body {
  padding: var(--spacing);
  background: var(--bg-body);
  color: var(--fg100);
}
