.input {
  border-radius: 0.3rem;
  box-shadow: var(--box-shadow);
  outline: none;
  border: var(--border-width) solid var(--bg700);
  color: var(--fg100);
  font-family: inherit;
  background-color: transparent;
  transition: border-color 0.15s ease-in-out;
  padding: var(--spacing-sm);
  font-size: var(--scale-base);

  &:focus {
    border: var(--border-width) solid var(--bg600);
  }
  &:disabled {
    opacity: 0.4;
    filter: saturate(0.6);
    cursor: default;
    pointer-events: none;
  }
}
