.input {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  outline: none;
  border: var(--border-width) solid var(--color600);
  color: var(--fg-body);
  font-family: inherit;
  background-color: transparent;
  transition: border-color 0.15s ease-in-out;
  padding: var(--padding);
  font-size: var(--text-base);

  &:focus {
    border: var(--border-width) solid var(--color500);
  }
  &:disabled {
    opacity: 0.4;
    filter: saturate(0.6);
    cursor: default;
    pointer-events: none;
  }
}
