.input {
  border-radius: 0.3rem;
  box-shadow: $box-shadow;
  outline: none;
  border: 1px solid var(--light-alpha40);
  color: var(--fg);
  font-family: inherit;
  background-color: transparent;
  transition: border-color 0.15s ease-in-out;
  padding: 0.8rem 1.6rem;
  margin: 0.8rem;
  font-size: 1.1rem;

  &:focus {
    border: 1px solid var(--light-alpha70);
  }
  &:disabled {
    opacity: 0.4;
    filter: saturate(0.6);
    cursor: default;
    color: var(--fg-alpha80);
    pointer-events: none;
  }
}
