@import "corner";

.panel {
  background: var(--panel-background);
  box-shadow: $box-shadow;
  border-radius: 0.3rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
  margin: 0.5rem;

  > header {
    position: relative;
    @extend %h3;
    padding: 0.4rem 0.6rem;

    &:before {
      @include corner("top-left");
    }
    &:after {
      @include corner("top-right");
    }

    &:empty {
      padding: 0.2rem;
    }
  }

  > article {
    z-index: 1;
    padding: 0 0.6rem;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 2px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      min-width: 1rem;
      border-style: solid;
      border-color: transparent;
      border-width: 2px 2px 1px 2px;
      background: var(--default);
      box-sizing: border-box;
      background-clip: border-box;
    }
  }
  > footer {
    position: relative;

    color: var(--footer-color);
    padding: 0.4rem 0.6rem;
    font-size: 0.75rem;
    text-align: right;

    &:before {
      @include corner("bottom-left");
    }
    &:after {
      @include corner("bottom-right");
    }

    &:empty {
      padding: 0.2rem;
    }
  }
}
