%corner-base {
  content: "";
  border-style: solid;
  border-color: var(--color700);
  position: absolute;
  height: var(--corner-size);
  width: var(--corner-size);
  z-index: 2;

  --thickness: var(--border-width);

  .tile > & {
    height: var(--corner-small-size);
    width: var(--corner-small-size);
    border-color: var(--color600);

    --thickness: var(--border-width-sm);
  }
}

.panel {
  background: oklch(var(--500) / 0.1);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: auto;

  > header {
    position: relative;
    @extend %header;
    font-size: var(--text-2xl);

    padding: var(--padding-sm) var(--padding);

    &:empty {
      padding: 0;
    }

    &::before {
      @extend %corner-base;
      border-width: var(--thickness) 0 0 var(--thickness);
      border-radius: var(--border-radius) 0 0 0;
      left: 0;
      top: 0;
    }
    &::after {
      @extend %corner-base;
      border-width: var(--thickness) var(--thickness) 0 0;
      border-radius: 0 var(--border-radius) 0 0;
      right: 0;
      top: 0;
    }
  }

  > article {
    z-index: 1;
    padding: var(--padding);
    overflow: auto;
    font-size: var(--text-base);

    @extend %scrollbar;
  }
  > footer {
    position: relative;

    padding: var(--padding-sm) var(--padding);
    font-size: var(--text-sm);
    text-align: right;

    &:empty {
      padding: 0;
    }

    &::before {
      @extend %corner-base;
      border-width: 0 0 var(--thickness) var(--thickness);
      border-radius: 0 0 0 var(--border-radius);
      left: 0;
      bottom: 0;
    }
    &::after {
      @extend %corner-base;
      border-width: 0 var(--thickness) var(--thickness) 0;
      border-radius: 0 0 var(--border-radius) 0;
      right: 0;
      bottom: 0;
    }
  }
}

.tile {
  @extend .panel;

  background: oklch(var(--800) / 0.75);

  > header {
    font-size: var(--text-lg);
  }

  > footer {
    font-size: var(--text-xs);
  }
}
