@import "corner";

.panel {
  background: var(--panel-background);
  box-shadow: $box-shadow;
  border-radius: 0.3rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
  margin: 0.5rem;

  > header {
    position: relative;

    &:not(.command-bar) {
      text-align: left;
      @extend %h3;
      padding: 0.4rem 0.6rem;

      &:before {
        @extend %corner;
        border-width: 2px 0 0 2px;
        border-radius: 0.3rem 0 0 0;
        left: 0;
        top: 0;
      }
      &:after {
        @extend %corner;
        border-width: 2px 2px 0 0;
        border-radius: 0 0.3rem 0 0;
        right: 0;
        top: 0;
      }
    }

    &:empty {
      padding: 0.2rem;
    }

    &.command-bar {
      margin: 0;
      margin-bottom: 1rem;

      &:before {
        border-radius: 0.3rem 0 0 0;
      }
      &:after {
        border-radius: 0 0.3rem 0 0;
      }
    }
  }

  > article {
    z-index: 1;
    padding: 0 0.6rem;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 2px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      min-width: 1rem;
      border-style: solid;
      border-color: transparent;
      border-width: 2px 2px 1px 2px;
      background: var(--default);
      box-sizing: border-box;
      background-clip: border-box;
    }
  }
  > footer {
    position: relative;

    &:not(.command-bar) {
      color: var(--footer-color);
      padding: 0.4rem 0.6rem;
      font-size: 0.75rem;
      text-align: right;

      &:before {
        @extend %corner;
        border-width: 0 0 2px 2px;
        border-radius: 0 0 0 0.3rem;
        left: 0;
        bottom: 0;
      }
      &:after {
        @extend %corner;
        border-width: 0 2px 2px 0;
        border-radius: 0 0 0.3rem 0;
        right: 0;
        bottom: 0;
      }
    }

    &:empty {
      padding: 0.2rem;
    }

    &.command-bar {
      @extend %h4;
      margin: 0;
      margin-top: 1rem;
      line-height: 2rem;
      height: 2rem;

      &:before {
        border-radius: 0 0 0 0.3rem;
      }
      &:after {
        border-radius: 0 0 0.3rem 0;
      }

      & > .command {
        height: 2rem;
        font-size: 0.9rem;
      }
    }
  }
}
