.spinner2 {
  margin: 0.3rem;
  display: grid;
  justify-items: center;
  align-items: center;
  width: 1em;
  height: 1em;
  position: relative;
  box-sizing: border-box;
  animation: 6s 0.5s rotate ease-in-out alternate-reverse infinite;


  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 50%;
    border-color: var(--light-alpha40) transparent;
    animation: 4s 0.5s inset1 ease-in-out infinite;
    box-shadow: 0px 12px 10px -12px #000a, 0px -12px 10px -12px #000a;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 50%;
    border-color: transparent var(--light-alpha70);
    animation: 4s 0.5s inset2 ease-in-out infinite;
    box-shadow: 12px 0px 10px -12px #000a, -12px 0px 10px -12px #000a;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

$amount: 0.2em;
@keyframes inset1 {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0);
  }
  12.5%{
    top: $amount;
    left: $amount;
    right: $amount;
    bottom: $amount;
    transform: rotate(0);
  }
  37.5%{
    top: $amount;
    left: $amount;
    right: $amount;
    bottom: $amount;
    transform: rotate(180deg);
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }
  100% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }
}

@keyframes inset2 {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0);
  }
  62.5%{
    top: $amount;
    left: $amount;
    right: $amount;
    bottom: $amount;
    transform: rotate(0);
  }
  87.5%{
    top: $amount;
    left: $amount;
    right: $amount;
    bottom: $amount;
    transform: rotate(180deg);
  }
  100% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }
}

.spinner {
  display: grid;
  justify-items: center;
  align-items: center;
  width: 3em;
  height: 1em;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    background: var(--light-alpha40);
    animation: 1.5s 0.1s swing ease-in-out infinite;
    box-sizing: border-box;
  }

  &:after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: $box-shadow;
    border: 0.1em solid var(--light-alpha70);
    animation: 1.5s swing ease-in-out infinite;
    box-sizing: border-box;
  }
}

@keyframes swing {
  0% {
    transform: translateX(-1.5em);
  }
  50% {
    transform: translateX(1.5em);
  }
  100% {
    transform: translateX(-1.5em);
  }
}

.spinner-old {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  border-style: solid;
  border-width: 0.3em;
  border-radius: 50%;
  border-color: transparent var(--default);
  animation: 4s rotateOuter linear infinite;
  box-shadow: inset $box-shadow;

  &:before {
    content: "";
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    right: 0.2em;
    bottom: 0.2em;
    border-style: inherit;
    border-width: inherit;
    border-color: transparent var(--light-alpha70);
    border-radius: inherit;
    animation: 2s rotateInner linear infinite;
    box-shadow: inset $box-shadow;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0.7em;
    left: 0.7em;
    right: 0.7em;
    bottom: 0.7em;
    border-style: inherit;
    border-width: inherit;
    border-color: transparent var(--light-alpha40);
    border-radius: inherit;
    animation: 4s rotateCenter linear infinite;
  }
}

@keyframes rotateOuter {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(225deg);
  }
}

@keyframes rotateInner {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(-270deg);
  }
}

@keyframes rotateCenter {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}

