.spinner {
  display: inline-grid;
  justify-items: center;
  align-items: center;
  width: 1em;
  height: 1em;
  position: relative;
  box-sizing: border-box;
  animation: 6s 0.5s rotate ease-in-out alternate infinite;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 50%;
    border-color: var(--light-alpha40) transparent;
    animation: 4s 0.5s inset1 ease-in-out infinite;
    box-shadow: 0px 12px 10px -12px #000a, 0px -12px 10px -12px #000a;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0.05em;
    border-radius: 50%;
    border-color: transparent var(--light-alpha70);
    animation: 4s 0.5s inset2 ease-in-out infinite;
    box-shadow: 12px 0px 10px -12px #000a, -12px 0px 10px -12px #000a;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

$amount: 0.2em;
@keyframes inset1 {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0);
  }
  12.5% {
    top: $amount;
    left: $amount;
    right: $amount;
    bottom: $amount;
    transform: rotate(0);
  }
  37.5% {
    top: $amount;
    left: $amount;
    right: $amount;
    bottom: $amount;
    transform: rotate(180deg);
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }
  100% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }
}

@keyframes inset2 {
  0% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0);
  }
  62.5% {
    top: $amount;
    left: $amount;
    right: $amount;
    bottom: $amount;
    transform: rotate(0);
  }
  87.5% {
    top: $amount;
    left: $amount;
    right: $amount;
    bottom: $amount;
    transform: rotate(180deg);
  }
  100% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }
}
