@import "corner";

.tile {
  @extend .panel;
  margin: 0.8rem;

  > header {
    &:before {
      @extend %corner-light;
      border-width: 1px 0 0 1px;
    }
    &:after {
      @extend %corner-light;
      border-width: 1px 1px 0 0;
    }
  }

  > article {
    color: var(--fg);
  }

  > footer {
    &:before {
      @extend %corner-light;
      border-width: 0 0 1px 1px;
    }
    &:after {
      @extend %corner-light;
      border-width: 0 1px 1px 0;
    }
  }

  &.inset {
    box-shadow: inset 0 0 20px 1px rgba(0, 0, 0, 0.4);

    > header {
      color: var(--fg-alpha80);
      &:before,
      &:after {
        opacity: 0.6;
      }
    }

    > article {
      color: var(--fg-alpha80);
    }

    footer {
      &:before,
      &:after {
        opacity: 0.6;
      }
    }
  }
}
