@import "corner";

.tile {
  @extend %panel;
  background: var(--tile-background);
  margin: 0.8rem;

  > header {
    &:before {
      @extend %corner-light;
      border-width: 1px 0 0 1px;
    }
    &:after {
      @extend %corner-light;
      border-width: 1px 1px 0 0;
    }
  }

  > article {
    color: var(--fg);
  }

  > footer {
    &:before {
      @extend %corner-light;
      border-width: 0 0 1px 1px;
    }
    &:after {
      @extend %corner-light;
      border-width: 0 1px 1px 0;
    }
  }

  &.inset {
    box-shadow: inset $box-shadow;

    > header {
      text-shadow: none;
      &:before,
      &:after {
        opacity: 0.6;
      }
    }

    footer {
      &:before,
      &:after {
        opacity: 0.6;
      }
    }
  }
}

.blubb {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  margin: 0.8rem;
  grid-auto-flow: column;
  align-items: stretch;
  column-gap: 0.3rem;

  > .tile {
    margin: 0;
    border-radius: 0.3rem 0 0 0.3rem;

    > header {
      &:after {
        border: none;
      }
    }

    > article {
      padding: 0.4rem 0.8rem;
      font-size: 1.2rem;
    }

    > footer {
      &:after {
        border: none;
      }
    }
  }

  > aside {
    display: grid;
    grid-auto-flow: column;
    column-gap: 0.3rem;

    > .command {
      background-color: var(--default-alpha40);
      min-width: 2.5rem;

      &:last-of-type {
        border-radius: 0 0.3rem 0.3rem 0;
      }
    }
  }
}
