@import "corner";

.tile {
  @extend %panel;
  background: var(--tile-background);
  margin: 0.8rem;

  > header {
    &:before {
      @extend .light;
    }
    &:after {
      @extend .light;
    }
  }

  > article {
    color: var(--fg);
  }

  > footer {
    &:before {
      @extend .light;
    }
    &:after {
      @extend .light;
    }
  }

  &.inset {
    box-shadow: inset $box-shadow;

    > header {
      text-shadow: none;
      &:before,
      &:after {
        opacity: 0.6;
      }
    }

    footer {
      &:before,
      &:after {
        opacity: 0.6;
      }
    }
  }
}

.blubb {
  display: inline-grid;
  grid-template-columns: 1fr auto;
  align-items: stretch;
  column-gap: 4px;
  position: relative;
  margin: 0.8rem;

  &:before {
    @extend %corner, .light, .top-left;
  }

  &:after {
    @extend %corner, .light, .bottom-left;
  }

  > article {
    @extend .tile;
    margin: 0;
    border-radius: 0.3rem 0 0 0.3rem;
    padding: 0.8rem;
    font-size: 1.2rem;
  }

  > aside {
    display: grid;
    grid-auto-flow: column;
    column-gap: 4px;

    > .command {
      background-color: var(--default-alpha40);
      min-width: 2.5rem;

      &:focus {
        border-color: var(--light-alpha40);
      }

      &:active {
        background-color: var(--light-alpha40);
      }

      &:last-of-type {
        border-radius: 0 0.3rem 0.3rem 0;
      }
    }
  }
}
