h1,
h2,
h3,
h4,
%header {
  font-weight: 300;
  text-shadow: 0 0 4px oklch(var(--400) / 0.5);
  color: var(--fg-body);
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}
