$font-family: "Open Sans", sans-serif !default;
$box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

@mixin desktop() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

html {
  font-size: 14px;
  font-family: $font-family;
  font-weight: 400;
  @include tablet {
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--fg);
}

body {
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  padding: 0.5rem;
}

@import "typography";
@import "panel";
@import "tile";
@import "button";
@import "command";
@import "input";
@import "spinner";
