@import "ada.theme-base";

:root {
  @extend %colourShades;

  --h: 132;
  --s: 92%;
  --l: 21%;
  --l-light: 40%;

  --bg: hsl(var(--h), 20%, 15%);

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.accent {
  @extend %colourShades;

  --h: 24;
  --s: 91%;
  --l: 34%;
  --l-light: 60%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.secondary {
  @extend %colourShades;
  --h: 74;
  --s: 87%;
  --l: 25%;
  --l-light: 45%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.secondaryDim {
  @extend %colourShades;
  --h: 55;
  --s: 37%;
  --l: 31%;
  --l-light: 50%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.warn {
  @extend %colourShades;

  --h: 0;
  --s: 75%;
  --l: 29%;
  --l-light: 60%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}
