@import "ada.theme-base";

:root {
  @extend .default;
  --l-base: 0.3;
  --c-base: 0.1;

  --l-base-light: 0.4;
  --c-base-light: 0.1;
}

.default {
  @extend %colourShades;
  --hue: 246;
}

.shade1 {
  @extend %colourShades;
  --hue: 220;
}

.shade2 {
  @extend %colourShades;
  --hue: 195;
}

.shade3 {
  @extend %colourShades;
  --hue: 170;
}

.warn {
  @extend %colourShades;
  --hue: 29;
}
