@import "ada.theme-base";

:root {
  @extend .default;
  --l-base: 0.26;
  --c-base: 0.06;

  --l-base-light: 0.4;
  --c-base-light: 0.1;
}

.default {
  @extend %colourShades;
  --hue: 246;
}

.shade1 {
  @extend %colourShades;
  --hue: 225;
}

.shade2 {
  @extend %colourShades;
  --hue: 190;
}

.shade3 {
  @extend %colourShades;
  --hue: 165;
}

.warn {
  @extend %colourShades;
  --hue: 29;
}
