@import "ada.theme-base";

:root {
  @extend %colourShades;

  --h: 205;
  --s: 80%;
  --l: 23%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.accent {
  @extend %colourShades;

  --h: 146;
  --s: 58%;
  --l: 20%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.warn {
  @extend %colourShades;

  --h: 0;
  --s: 75%;
  --l: 29%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}
