:root {
  --h: 205;
  --s: 80%;
  --l: 23%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.accent {
  --h: 146;
  --s: 58%;
  --l: 20%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.warn {
  --h: 0;
  --s: 75%;
  --l: 29%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

:root,
.accent,
.warn {
  --l-dark: calc(var(--l) - 16%);
  --l-light: calc(var(--l) + 38%);

  --bg: hsl(var(--h), var(--s), var(--l-dark));

  --fg: hsl(var(--h-fg), var(--s-fg), var(--l-fg));
  --fg-alpha60: hsla(var(--h-fg), var(--s-fg), var(--l-fg), 0.6);
  --fg-alpha80: hsla(var(--h-fg), var(--s-fg), var(--l-fg), 0.8);

  --default: hsl(var(--h), var(--s), var(--l));
  --default-alpha10: hsla(var(--h), var(--s), var(--l), 0.1);
  --default-alpha40: hsla(var(--h), var(--s), var(--l), 0.4);

  --light: hsl(var(--h), var(--s), var(--l-light));
  --light-alpha40: hsla(var(--h), var(--s), var(--l-light), 0.4);
  --light-alpha70: hsla(var(--h), var(--s), var(--l-light), 0.7);
}

$font-family: "Open Sans", sans-serif !default;

@mixin desktop() {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (max-width: 1199px) {
    @content;
  }
}

html {
  font-size: 14px;
  font-family: $font-family;
  font-weight: 400;
  @include tablet {
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--fg);
}

%h1 {
  @extend %header;
  font-size: 3rem;
  margin: 1rem 0 2rem 0;
}

%h2 {
  @extend %header;
  font-size: 2rem;
  margin: 1rem 0 1.5rem 0;
}

%h3 {
  @extend %header;
  font-size: 1.5rem;
  margin: 0.5rem 0 1.5rem 0;
}

%h4 {
  @extend %header;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0.5rem 0 0.5rem 0;
}

%header {
  font-weight: 300;
  text-shadow: 0 0 4px var(--light-alpha40);
  color: var(--fg);
  &.m-0 {
    margin: 0;
  }
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

body {
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  padding: 0.5rem;
}

%corner {
  content: "";
  border-style: solid;
  border-color: var(--default);
  position: absolute;
  height: 1rem;
  width: 1rem;
}

//@mixin buildCorner(position, borderWidth) {
//@extend %corner;
//border-width: 2px 2px 0 0;
//border-radius: 0 0.3rem 0 0;
//right: 0;
//top: 0;
//}

.button-group {
  margin: 0.8rem;
}
.button {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  outline: none;
  border: 1px solid var(--light-alpha40);
  color: var(--fg);
  text-shadow: 0 0 4px var(--light-alpha40);
  font-family: inherit;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  vertical-align: middle;
  transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  min-height: min-content;
  min-width: 8rem;
  padding: 0.8rem 1.6rem;
  margin: 0.8rem;
  font-size: 1.1rem;
  &.small {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    padding: 0.8rem;
  }
  &.icon {
    @extend .button, .small;
    border: 1px solid transparent;
    box-shadow: none;
    background: none;
    > i.material-icons {
      font-size: 20px;
    }
    .button-group > & {
      margin: 1px;
    }
  }
  &.fill {
    background-color: var(--default);
  }
  &:focus {
    border: 1px solid var(--light-alpha70);
  }
  &:hover {
    // stays after click on touch devices
    // TODO: only for non-touch devices
    // /*background-color: var(--light-alpha40);*/
  }
  &:active {
    background-color: var(--light-alpha70);
    border: 1px solid var(--default-alpha40);
  }
  &:disabled {
    opacity: 0.4;
    filter: saturate(0.6);
    cursor: default;
    color: var(--fg-alpha80);
  }
}

.input {
  border-radius: 0.3rem;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);
  outline: none;
  border: 1px solid var(--light-alpha40);
  color: var(--fg);
  text-shadow: 0 0 4px var(--light-alpha40);
  font-family: inherit;
  background-color: transparent;
  transition: border-color 0.15s ease-in-out;
  padding: 0.8rem 1.6rem;
  margin: 0.8rem;
  font-size: 1.1rem;

  &:focus {
    border: 1px solid var(--light-alpha70);
  }
  &:disabled {
    opacity: 0.4;
    filter: saturate(0.6);
    cursor: default;
    color: var(--fg-alpha80);
  }
}

.panel {
  background: var(--default-alpha10);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: 0.5rem;
  > header {
    position: relative;
    text-align: left;
    @extend %h3, .m-0;
    padding: 0.4rem 0.6rem;
    &:before {
      @extend %corner;
      border-width: 2px 0 0 2px;
      border-radius: 0.3rem 0 0 0;
      left: 0;
      top: 0;
    }
    &:after {
      @extend %corner;
      border-width: 2px 2px 0 0;
      border-radius: 0 0.3rem 0 0;
      right: 0;
      top: 0;
    }
    &:empty {
      padding: 0.2rem;
    }
  }

  > article {
    z-index: 1;
    padding: 0 0.6rem;
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      min-width: 1rem;
      border-style: solid;
      border-color: transparent;
      border-width: 2px 2px 1px 2px;
      background: var(--default);
      box-sizing: border-box;
      background-clip: padding-box;
    }
  }
  > footer {
    position: relative;
    text-align: right;
    padding: 0.4rem 0.6rem;
    font-size: 0.75rem;
    color: var(--fg-alpha60);
    &:before {
      @extend %corner;
      border-width: 0 0 2px 2px;
      border-radius: 0 0 0 0.3rem;
      left: 0;
      bottom: 0;
    }
    &:after {
      @extend %corner;
      border-width: 0 2px 2px 0;
      border-radius: 0 0 0.3rem 0;
      right: 0;
      bottom: 0;
    }
    &:empty {
      padding: 0.2rem;
    }
  }
}

.tile {
  @extend .panel;
  margin: 0.8rem;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.4);

  > header {
    @extend %h4, .m-0;
    &:before {
      border-width: 1px 0 0 1px;
    }
    &:after {
      border-width: 1px 1px 0 0;
    }
  }
  > article {
    display: grid;
    color: var(--fg);
    text-shadow: 0 0 4px var(--light-alpha40);
    font-family: inherit;
    font-size: 1.1rem;
  }

  > footer {
    &:before {
      border-width: 0 0 1px 1px;
    }
    &:after {
      border-width: 0 1px 1px 0;
    }
  }
}
