@import "ada.theme-base";

.primary {
  @extend %colourShades;

  // old one, more blue-greenish
  //--h: 197;
  //--s: 100%;
  //--l: 19%;
  //--h-light: 197;
  //--s-light: 100%;
  //--l-light: 40%;

  --h: 205;
  --s: 80%;
  --l: 23%;
  --h-light: 205;
  --s-light: 80%;
  --l-light: 40%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;

  //lch test
  //--default: lch(26 29 260);
  //--default-alpha70: lch(18 20 260);
}

:root {
  @extend .primary;
  // old one, more blue-greenish
  //--bg: hsl(197, 80%, 7%);
  --bg: hsl(207, 61%, 7%);
}

.shade1 {
  @extend %colourShades;

  --h: 198;
  --s: 90%;
  --l: 30%;
  --h-light: 198;
  --s-light: 90%;
  --l-light: 58%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.shade2 {
  @extend %colourShades;

  // old one, more blue-greenish
  //--h: 165;
  //--s: 90%;
  //--l: 20%;
  //--h-light: 165;
  //--s-light: 90%;
  //--l-light: 40%;

  --h: 185;
  --s: 50%;
  --l: 30%;
  --h-light: 185;
  --s-light: 50%;
  --l-light: 50%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.accent {
  @extend %colourShades;

  // old one
  //--h: 11;
  //--s: 74%;
  //--l: 45%;
  //--h-light: 10;
  //--s-light: 89%;
  //--l-light: 56%;

  --h: 146;
  --s: 58%;
  --l: 20%;
  --h-light: 146;
  --s-light: 58%;
  --l-light: 48%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}

.warn {
  @extend %colourShades;

  --h: 0;
  --s: 100%;
  --l: 28%;
  --h-light: 0;
  --s-light: 85%;
  --l-light: 48%;

  --h-fg: var(--h);
  --s-fg: 100%;
  --l-fg: 89%;
}
